* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Segoe UI', sans-serif;
  line-height: 1.9;
}

a{
  text-decoration: none;
}

.navbar{
  background-color: gold;
  color: white;
  margin-bottom: 40px;
  text-align: center;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todoitem{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  padding: 20px 20px;
  font-size: larger;
}

.todoitem:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.material-icons {
  cursor: pointer;
  padding: 10px
}

img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 500px;
}